extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='album') Album:
      select#album.form-control(name='album' required)
        option(value='') --Please select an album--
        for album in album_list
          if albumstock && selected_album==album._id.toString()
            option(value=album._id, selected) #{album.title}
          else
            option(value=album._id) #{album.title}

    div.form-group
      label(for='numInStock') Quantity:
      input#numInStock.form-control(type='number' name='numInStock' value=(albumstock ? albumstock.numInStock : 0))

    div.form-group
      label(for='status') Stock Status:
      select#status.form-control(name='status' required)
        option(value='') --Select Stock Status--
        option(value='In Stock', selected=(albumstock && albumstock.status === 'In Stock')) In Stock
        option(value='Out of Stock', selected=(albumstock && albumstock.status === 'Out of Stock')) Out of Stock
        option(value='Backorder', selected=(albumstock && albumstock.status === 'Backorder')) Backorder

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
