extends layout

block content
  h1= title
  p Welcome to #[em Record Store]

  h1 Dynamic content

  p The store has the following record counts:

  ul
    li #[strong Total albums:] !{album_count}
    li #[strong Albums in stock:] !{album_stock_available_count}
    li #[strong Artists:] !{artist_count}
    li #[strong Genres:] !{genre_count}
